@import '../../shared/shared-variables';

.app-header-container {
    background-color: $app-deep-blue;
    color: #FFF;
    padding: 10px;
    text-indent: 20px;
    height: 10vh;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 640px) {
        h1 {
            font-size: 22px;
        }
    }
}