<app-header></app-header>
<div class="search-page">
  <app-search-input (searchChange)="searchChange($event)"></app-search-input>

  <div class="progress-bar-container">
    <mat-progress-bar
      *ngIf="searchLoader$ | async"
      mode="query"
    ></mat-progress-bar>
  </div>

  <ng-template [ngIf]="notFound$ | async" [ngIfElse]="foundSomeResults">
    <div class="not-found search-results-container">
      <h3>We're Sorry!</h3>
      We can't seem to find any questions that match your search
    </div>
  </ng-template>

  <ng-template #foundSomeResults>
    <!------search results xs screens------->
    <div *ngIf="isScreenSmall$ | async" class="search-results-container">
      <app-search-results-expandable
        [searchResults$]="searchResults$"
        (nextPage)="nextPage()"
      >
      </app-search-results-expandable>
    </div>

    <!------search results not xs screens------->
    <div *ngIf="!(isScreenSmall$ | async)" class="search-results-container">
      <app-search-results
        [searchResults$]="searchResults$"
        (nextPage)="nextPage()"
        (itemSelected)="itemSelected($event)"
        [selectedItem$]="selectedItem$"
      ></app-search-results>
    </div>
  </ng-template>
</div>
