<app-header></app-header>
<div class="search-page">
  <app-search-input (searchChange)="searchChange($event)"></app-search-input>

  <div class="progress-bar-container">
    <mat-progress-bar
      *ngIf="searchLoader$ | async"
      mode="query"
    ></mat-progress-bar>
  </div>

  <!------search results xs screens------->
  <div fxHide fxShow.xs="true" class="search-results-container">
    <app-search-results-expandable
      [searchResults$]="searchResults$"
      (nextPage)="nextPage()"
    >
    </app-search-results-expandable>
  </div>

  <!------search results not xs screens------->
  <div fxShow fxHide.xs="true" class="search-results-container">
    <app-search-results
      [searchResults$]="searchResults$"
      (nextPage)="nextPage()"
      (itemSelected)="itemSelected($event)"
      [selectedItem$]="selectedItem$"
    ></app-search-results>
  </div>
</div>
