<app-header></app-header>
<div class="search-page">
  <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
    <div
      class="search-list-container"
      fxFlex="40"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <app-search-input
        (searchChange)="searchChange($event)"
      ></app-search-input>
      <app-search-results
        [searchResults$]="searchResults$"
        (nextPage)="nextPage()"
        (itemSelected)="itemSelected($event)"
      ></app-search-results>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <app-search-selected
        [selectedItem$]="selectedItem$"
      ></app-search-selected>
    </div>
  </div>
</div>
