@import "../../shared/shared-variables";

.search-page {
  height: 100%;

  .progress-bar-container {
    height: 5px;
  }

  .not-found {
    padding-left: 20px;
  }

  .search-results-container {
    border-top: 1px solid $app-light-gray;

    .search-list-container {
      border-right: 1px solid $app-light-gray;
      height: 100%;
    }
  }
}