/* Add application styles & imports to this file! */
html,
body {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.snack-error {
    background-color: #990000;
}

.snack-success {
    background-color: #009900;
}